@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
}

:root {
	user-select: none;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes voice-wave {
	0%, 100% {
		height: 4px;
	}
	50% {
		height: 18px;
	}
}

.animate-voice-wave {
	animation: voice-wave 1s ease-in-out infinite;
}
